Repeal of Senate Notification Requirements Relating to Legal Process on Disclosures of Senate Data


Mr. WALKINSHAW. Mr. Speaker, I rise today in support of legislation  to repeal a last-minute, dead-of-night provision added to the  Legislative Branch Appropriations Act that green-lights eight  Republican Senators to raid the Treasury and reward themselves with  millions of taxpayer dollars because they were investigated for their  involvement in the 2021 insurrection.

These eight Senators provided support to President Trump's attempt to  overturn the results of a free and fair election. It is a brazen  attempt by Republicans to further whitewash a conspiracy and a violent  insurrection while lining their own pockets with taxpayer dollars.

It is a trifecta of the type of corruption that shakes Americans'  faith in Congress: contempt for the rule of law, a secret backroom  deal, and self-enrichment.

This Republican Senator slush fund is yet another example of the  corruption that has taken hold here.