Repeal of Senate Notification Requirements Relating to Legal Process on Disclosures of Senate Data


Mr. KILEY of California. Mr. Speaker, this who-wants-to-be-a- millionaire provision created by U.S. Senators for themselves, and  themselves alone, is outrageous. I will, of course, be voting to repeal  it today.

We also need to ask how this was allowed to happen, and I have to  tell you, it doesn't help that the House wasn't even here. For 6  straight weeks, House leadership decided to cancel our sessions, every  oversight hearing, every markup of legislation, everything. Why? To  this day, there has been no coherent rationale offered.

Throughout this time, I warned that this was not only holding back  our own legislative priorities but was also making the House irrelevant  in any deal to reopen the government. Of course, that is what ended up  happening. The Senate never passed our CR. They negotiated their own  deal. After 50 days away, the House was brought back for one fly-by  vote to ratify what the Senate had come up with as our only opportunity  to reopen the government.

The Senate was so thoroughly convinced of the House's irrelevance  that they thought that they could literally insert a self-enrichment  scheme into the legislation and get away with it. By the way, they  still might get away with it because while we are passing a bill to  repeal it today, that still has to pass the Senate.

We need to pass this in the House today. We need to insist that this  provision be included in a must-pass bill going forward so that it  cannot actually be utilized. More than that, we need to start  reasserting ourselves as a House, reclaiming our authority under  Article I and giving the American people the representation they  deserve.